<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Agregar Empleado</title>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

  <div class="container">
    <h2 class="my-5">Agregar Empleado</h2>

    <form action="#" th:action="@{/guardar}" th:object="${empleado}" method="post">
      <div class="mb-3" th:class="${empleado.id != null} ? 'visually-hidden' : ''">
        <label for="id" class="form-label">DNI</label>
        <input type="text" class="form-control" id="id" placeholder="Ingresar DNI"
               th:field="*{id}" name="id" >
      </div>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre"
        th:field="*{nombre}" name="nombre">
      </div>

      <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="apellido" placeholder="Ingresar apellido"
               th:field="*{apellido}" name="apellido">
      </div>

      <div class="mb-3">
        <label for="edad" class="form-label">Edad</label>
        <input type="number" class="form-control" id="edad" placeholder="Ingresar edad"
               th:field="*{edad}" name="edad">
      </div>

      <div class="mb-3">
        <label for="direccion" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="direccion" placeholder="Ingresar dirección"
               th:field="*{direccion}" name="direccion">
      </div>

      <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="tel" class="form-control" id="telefono" placeholder="Ingresar teléfono"
               th:field="*{telefono}" name="telefono">
      </div>

      <button type="submit" class="btn btn-dark">Submit</button>
    </form>

  </div>

</body>
</html>